
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/admin/scss/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>

    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>

                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <h3 class="lead fw-normal mb-0 me-3">Please complete all information</h3>
                    </div>
                    <form>
                        <div class="form-outline mb-4 mt-4">
                            <input type="email" class="form-in "
                                   placeholder="Enter full name" />
                            <span class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4 mt-4">
                            <input type="email" class="form-in "
                                   placeholder="Enter email address" />
                            <span class="text-danger"></span>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4 mt-4">
                            <input type="password" class="form-in "
                                   placeholder="Enter password" />
                            <span class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4 mt-4">
                            <input type="password" class="form-in "
                                   placeholder="Enter confirm password" />
                            <span class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4 mt-4">
                            <input type="email" class="form-in "
                                   placeholder="Enter phone number" />
                            <span class="text-danger"></span>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4 mt-4">
                            <input type="text" class="form-in "
                                   placeholder="Enter address" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Checkbox -->
                            <p class="small fw-bold  mb-0">
                                Have an account ? <a href="~/Admin/User/Login"
                                                     class="link-danger">Login</a>
                            </p>
                            <a href="~/Admin/User/ForgotPassword" class="text-body">Forgot password ?</a>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="button" class="btn btn-primary"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                Register
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </section>



    <!--SCRIPT-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script type="text/css" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" />
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
</body>
</html>