
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>My Admin</title>
    <link rel="stylesheet" href="~/Content/admin/scss/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
</head>
<body>
    <div class="header container-fluid py-3">
        <div class=" d-flex justify-content-between">
            <div class="">
                <img src="https://htmldemo.net/ruiz/ruiz/assets/images/logo/logo.png" alt="">
            </div>
            <div>
                <span class="lead abc">
                    Hello Lê Minh Chánh
                </span>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC6iPDSqcgCcAtdEz_rPY0B-sxqMd7hz0Hlg&usqp=CAU"
                     class="avatar-admin" alt="">
                <button class=" btn-out">
                    Log Out
                </button>
            </div>
        </div>
    </div>
    <!--FULL MODAL PRODUCT TAB-->
    <!--start modal product add-->

    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add Product</h5>
            </div>
            <div class="modal-body ">
                <form>
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-5">
                        <div class="col-2">
                            <div class="form-outline">
                                <input type="text" class="form-control" placeholder="Enter Product ID" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-outline">
                                <input type="text" class="form-control" placeholder="Enter Product Name" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-outline">
                                <input type="text" class="form-control" placeholder="Enter Price" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-outline">
                                <input type="text" class="form-control" placeholder="Enter Discount" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-outline">
                                <input type="text" class="form-control" placeholder="Enter Import" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-5">
                        <div class="col-2">
                            <div class="form-outline">
                                <input type="text" class="form-control" placeholder="Enter Gender" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-outline">
                                <input type="text" class="form-control" placeholder="Enter Brand" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-outline">
                                <input type="text" class="form-control" placeholder="Enter Origin" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-outline">
                                <input type="text" class="form-control" placeholder="Enter Warranty" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-outline">
                                <input type="text" class="form-control" placeholder="Enter Diameter" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-outline">
                                <input type="text" class="form-control" placeholder="Enter Material" />
                            </div>
                        </div>

                    </div>
                    <div class="row mb-5">
                        <div class="col-2">
                            <div class="form-outline">
                                <input type="text" class="form-control" placeholder="Enter Strap" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-outline">
                                <input type="text" class="form-control" placeholder="Enter Wire Width" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-outline">
                                <input type="text" class="form-control" placeholder="Enter Apparatus" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-outline">
                                <input type="text" class="form-control" placeholder="Enter Waterproof" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-outline">
                                <input type="text" class="form-control" placeholder="Enter Date" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-3">
                            <div class="form-outline">
                                <input type="file" class="form-control" placeholder="Enter Avatar Product" />
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-outline">
                                <input type="file" class="form-control" placeholder="Enter Avatar Product" />
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-outline">
                                <input type="file" class="form-control" placeholder="Enter Avatar Product" />
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-outline">
                                <input type="file" class="form-control" placeholder="Enter Avatar Product" />
                            </div>
                        </div>
                    </div>
                    <div class="form-outline mb-5">
                        <textarea type="email" class="form-control" placeholder="Enter Description"
                                  rows="10"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btns btns-close">
                    <a href="./index.html">Close</a>
                </button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>

    <!--end modal product add-->
    <!--end main-->
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script type="text/css" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" />
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
</body>
</html>